{{ if .Params.tags }}
<p>Tags:
  {{ $allTags := .Params.tags }}
  {{ $displayTags := slice }}
  {{ range $allTags }}
    {{ if ne . "cy-bookmark" }}
      {{ $displayTags = $displayTags | append . }}
    {{ end }}
  {{ end }}
  {{ range $index, $tag := $displayTags }}
  <a href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag }}</a>{{ if lt (add $index 1) (len $displayTags) }}, {{ end }}
  {{ end }}
</p>
{{ end }}
{{ if .Params.categories }}
<p>Categories:
  {{ $categories := .Params.categories }}
  {{ range $index, $category := $categories }}
  <a href="{{ "/categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>{{ if lt (add $index 1) (len $categories) }}, {{ end }}
  {{ end }}
</p>
{{ end }}
