<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
        <main class="page-content" aria-label="Content">
            <div class="w">
                <header>
                    <h1><a href="{{ "" | relURL }}">{{ $.Site.Title }}</a></h1>
                    {{- if $.Site.Params.theme_config.show_description -}}
                    <p>{{ $.Site.Params.description }}</p>
                    {{- end -}}
                    <p>
                            {{ with site.GetPage "section" "posts" }}
                            <a href="{{ .RelPermalink }}">{{ .Title | default "Posts" }}</a>,
                            {{ end }}
                            {{ with site.GetPage "section" "bookmarks" }}
                            <a href="{{ .RelPermalink }}">{{ .Title | default "Bookmarks" }}</a>,
                            {{ end }}
                            {{ with site.GetPage "section" "til" }}
                            <a href="{{ .RelPermalink }}">{{ .Title | default "TIL" }}</a>
                            {{ end }}
                    </p>
                </header>

                {{- block "main" . }}{{- end }}
                {{ partial "footer.html" }}
            </div>
        </main>
    </body>
</html>
